@{
    ViewData["Title"] = "Administración Usuarios";
}

@section scripts{
    <script type='text/javascript'>

        $(document).ready(function () {
           
        });
    </script>
}

<section class="content-header"></section>
<div class="page-titles">
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a id="no-link" href="@Url.Action("Index", "Home", new { Area = "" })"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
            <li class="active">Administración Usuarios</li>
        </ul>
    </div>
</div>

<div class="card border-success">
    <div class="card-header d-flex align-items-center">
        <h4 class="card-title text-white"><i class="mr-2 fa fa-pencil-square-o text-white"></i>Administración de Usuarios</h4>
        <div class="card-actions ms-auto d-flex button-group">
            <a class="link text-white d-flex align-items-center" data-action="collapse"><i class="ti-minus"></i></a>
            <a class="mb-0 btn-minimize text-white link d-flex align-items-center" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
            <a class="mb-0 link d-flex text-white align-items-center pe-0" data-action="close">
                <i data-feather="x" class="feather-sm"></i>
            </a>
        </div>
    </div>
    <div class="card-body collapse show">
        <div class="row">
            <div class="col-md-2 text-center">
                <div class="form-group">
                    <img id="imgFoto" src="~/img/Avatar.png" class="img-circle" style="width: 157px;height: 196px; border-radius: 3px; padding: 1px; border:1px solid #021a40; -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);">
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <div class="input-group">
                                <input tabindex="1" name="txtIdentificacion" type="text" id="txtIdentificacion" autocomplete="off" placeholder=" " class="form-control InputPading" />
                                <span class="input-group-btn">
                                    <button tabindex="2" class="btn btn-success" id="btnConsultarEmpl" onclick="GetFuncionario($('#txtIdentificacion').val()); return false;" style="height:34px; border-radius: 0px 0px 0px 0px !important;" type="button" title="Buscar..."><b><i class="fas fa-search"></i></b></button>
                                    <button tabindex="3" class="btn btn-warning" id="BtnLimpiarEmpl" onclick="Limpiar(); return false;" style="height:34px; border-radius: 0px 5px 5px 0px !important; margin-left: -5px;" type="button" title="Limpiar Consulta"><b><i class="fa fa-eraser"></i></b></button>
                                </span>
                            </div>
                            <label class="Labels">Identificación:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="4" name="txtSituacionLab" type="number" id="txtSituacionLab" autocomplete="off" placeholder=" " class="form-control InputPading" readonly />
                            <label class="Labels">Situación Laboral:</label>
                        </div>
                    </div>
                    <div class="col-md-6 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="5" name="txtFuncionario" type="text" id="txtFuncionario" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Funcionario:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="6" name="txtCorreo" type="text" id="txtCorreo" autocomplete="off" placeholder=" " class="form-control InputPading" readonly />
                            <label class="Labels">Correo:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="7" name="txtUserName" type="text" id="txtUserName" autocomplete="off" placeholder=" " class="form-control InputPading" readonly />
                            <label class="Labels">Usuario Inst.:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="8" name="txtCelular" type="number" id="txtCelular" autocomplete="off" placeholder=" " class="form-control InputPading" readonly />
                            <label class="Labels">Celular:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="9" name="txtDependencia" type="text" id="txtDependencia" autocomplete="off" placeholder=" " class="form-control InputPading" readonly />
                            <label class="Labels">Unidad Labora:</label>
                        </div>
                    </div>
                    <div class="col-md-6 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="10" name="txtCargo" type="text" id="txtCargo" autocomplete="off" placeholder=" " class="form-control InputPading" readonly />
                            <label class="Labels">Cargo Actual:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-horizontal">
                            <div class="form-group row" style="margin-bottom: 0px;">
                                <label class="col-md-7 col-form-label Labelr" style="margin-top:0px;">Activar Usuario:</label>
                                <div class="col-md-5 text-left" style="padding-left:0px;">
                                    <input tabindex="111" type="checkbox" checked data-toggle="toggle" id="chkDesignado">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer" style="margin-bottom: 10px;">
            <div class="col-md-12 text-right">
                <button tabindex="1001" type="button" id="btnGrabar" onclick="OpenModalExit(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-grad" title="Guardar"><span class="fa ico_grabar faa-wrench animated"></span> Guardar</button>
                <button tabindex="1002" type="button" id="btnLimpiar" onclick="Alertas(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-limpiar" title="Nuevo"><span class="fa ico_limpiar faa-ring animated"></span> Nuevo</button>
                <button tabindex="1003" type="button" id="btnEliminar" onclick="OpenModalError(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-eliminar" title="Eliminar"><span class="fas fa-trash-alt faa-ring animated"></span> Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="card border-success">
    <div class="card-header d-flex align-items-center">
        <h4 class="card-title text-white"><i class="mr-2 fa fa-server text-white"></i>Grillas</h4>
        <div class="card-actions ms-auto d-flex button-group">
            <a class="link text-white d-flex align-items-center" data-action="collapse"><i class="ti-minus"></i></a>
            <a class="mb-0 btn-minimize text-white link d-flex align-items-center" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
            <a class="mb-0 link d-flex text-white align-items-center pe-0" data-action="close">
                <i data-feather="x" class="feather-sm"></i>
            </a>
        </div>
    </div>
    <div id="pn_Grilla" class="card-body collapse show">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive m-t-40" style="margin-top: 0px !important;">
                    <table id="tbGrilla" class="table table-bordered table-striped" width="100%" style="margin-top: -1px !important;"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="Modal_Transacciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="scroll-long-outer-modal" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content CuadroModal">
            <div class="modal-header d-flex align-items-center">
                <h2 class="text-center" id="TituloMensaje"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center" id="ContenidoCambio"></div>
            </div>
            <div class="modal-footer" style="justify-content:center;">
                <button type="button" data-bs-dismiss="modal" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-cerrar"><span class="fas fa-sign-out-alt faa-horizontal animated"></span> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Estado Proceso-->
<div id="Process">
    <div class="loader_sis">
        <div class="loader_dialoge">
            <div class="loader_containere text-center">
                <div class="loadere"></div>
                <h4 class="text-white">Procesando, espere...</h4>
            </div>
        </div>
    </div>
    <div class="loader_backe"></div>
</div>